* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #2db0ff;
}

.wrapper {
    max-width: 1000px;
    height: calc(100vh - 60px);
    margin: 30px auto;
    position: relative;
}

/*List user                               List user*/

.listUsers {
    background: #434753;
    height: 100%;
    width: calc(30% - 30px);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    padding: 0 10px;
}

.listUsers__publicChat {
    font-size: 30px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    color: #aaa;
    font-family: fantasy;
}

.listUsers__userOnlineList {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 20px;
}

.listUsers__userOnline {
    text-align: center;
    padding: 5px;
    border-top: 1px solid #aaa;
    color: #aaa;
    font-family: sans-serif;
    cursor: pointer;
    user-select: none;
}

.listUsers__userOnline:last-child {
    border-bottom: 1px solid #aaa;
}

/*Chat field                              Chat field*/

#chatField {
    height: 100%;
    width: calc(70% - 15px);
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

/*Lable field                              Lable field*/

#lableField, #messageField, #inputField {
    background: #f0f5f8;
}

#lableField {
    height: 80px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    position: relative;
}

.lableField__nameChat {
    position: absolute;
    top: calc(50% - 22px);
    left: 20px;
    font-size: 24px;
    padding: 10px;
    background: #e6ebee;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
}

.lableField__settings {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 15px;
    font-family: "untitled-font-1";
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

/*Message field                            Message field*/
.wrapperMessageField{
    overflow: auto;
    height: calc(100% - 240px);
}

.wrapperMessageField:after{
    content: '';
    display: block;
    clear: both;
}

#messageField {
    min-height: 100%;
    /*height: calc(100% - 240px);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messageField__messageUser {
    padding: 15px 20px;
}

.messageField__lableMessage {
    font-size: 15px;
}

.messageField__lableMessageText {
    background: #e6ebee;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 10px #fff;
}

.messageField__lableMessage-am {
    text-align: right;
}

.messageField__message {
    max-width: 80%;
    margin-top: 10px;
}

.messageField__message-am {
    margin-left: calc(20% - 16px);
    text-align: right;
}

.messageField__message-amText {
    background: #7bc4ef;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
    margin-right: -15px;
}

.messageField__message-userText {
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    display: inline-block;
    background: #62bf6f;
    padding: 10px;
}

/*Input field                           Input field*/

#inputField {
    height: 150px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

.inputField__inputUserMessage {
    width: calc(100% - 40px);
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 18px;
    border-radius: 10px;
}

.inputField__buttonSend {
    color: #7bc4ef;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

/*noneFocus                                          noneFocus*/

.inputField__inputUserMessage:focus, .inputField__buttonSend:focus,
.checkIn__login:focus, .checkIn__password:focus, .checkIn__button:focus {
    outline: none;
}

/*CheckIn                                          CheckIn*/

#checkIn {
    width: 300px;
    position: absolute;
    top: 35%;
    left: calc(50% - 170px);
    padding: 20px;
    background: #e6ebee;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
}

.checkIn__login, .checkIn__password, .checkIn__button {
    display: block;
    margin-top: 8px;
    font-size: 24px;
    border-radius: 7px;
}

/*CheckIn error                                       CheckIn error*/

.checkIn__error{
    width: 70%;
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: red;
    display: none;
}

























